

<section class="contents">

  <div class="top" >
    <div class="top__body">
      <h2 class="top__title" id="test">笑顔はキッチンから</h2>
      <p class="top__text">家族の一日の始りはキッチンからです。</p>
      <p class="top__text">私たちは最高の1日を作り出すお手伝いをしています。</p>
    </div>
  </div>

  <div class="explain">
    <div class="explain__title">事業内容一覧</div>
    <div class="explain__title__cover"></div>
    <div class="explain__body">
      <div class="explain__left">
        <div class="explain__left__title">住宅設備機器工事</div>
        <div class="explain__left__text">住宅設備機器を施工しています。住宅設備機器を施工しています。住宅設備機器を施工しています。住宅設備機器を施工しています。住宅設備機器を施工しています。住宅設備機器を施工しています。住宅設備機器を施工しています。住宅設備機器を施工しています。</div>
      </div>
      <div class="explain__right">
        <div class="explain__right__title">
          <%= image_tag "material/3.png", alt: "写真" , class: "explain__image__one"%>
        </div>
        <div class="explain__left__text">
          <%= image_tag "material/4.png", alt: "写真" , class: "explain__image__second"%>
        </div>
      </div>
    </div>
  </div>

  <div class="sekou">
    <div class="sekou__title">キッチン施工</div>
    <div class="sekou__title__cover"></div>
    <div class="sekou__body">
      <div class="sekou__left">
        <div class="sekou__left__title">
          <%= image_tag "material/1.png", alt: "写真" , class: "sekou__image__one"%>
        </div>
        <div class="sekou__left__text">
          <%= image_tag "material/2.png", alt: "写真" , class: "sekou__image__second"%>
        </div>
      </div>
      <div class="sekou__right">
        <div class="sekou__right__title">キッチンの取付業務</div>
        <div class="sekou__right__text">正確かつスピーディーに対応します。正確かつスピーディーに対応します。正確かつスピーディーに対応します。正確かつスピーディーに対応します。正確かつスピーディーに対応します。正確かつスピーディーに対応します。正確かつスピーディーに対応します。正確かつスピーディーに対応します。</div>
      </div>
    </div>
  </div>

  <div class="hannyu">
    <div class="hannyu__title">搬入</div>
    <div class="hannyu__title__cover"></div>
    <div class="hannyu__body">
      <ul class="hannyu__lists">
        <li class="hannyu__list">
          <div class="hannyu__body">
          <span class="hannyu__text">仕上げ品搬入</span>
          <%= image_tag "material/hannyu1.png", alt: "作業員" , class: "image" %>
          </div>
        </li>
        <li class="hannyu__list">
          <div class="hannyu__body">
            <span class="hannyu__text">丁寧な搬入</span>
            <%= image_tag "material/hannyu3.png", alt: "作業員" , class: "image" %>
          </div>
        </li>
        <li class="hannyu__list">
          <div class="hannyu__body">
            <span class="hannyu__text">丁寧な搬入</span>
            <%= image_tag "material/hanyuu2.png", alt: "作業員" , class: "image" %>
          </div>
        </li>
      </ul>
    </div>
    <div class="hannyu__explain">確かな実績と信頼される根拠のある実績.確かな実績と信頼される根拠のある実績.確かな実績と信頼される根拠のある実績.確かな実績と信頼される根拠のある実績</div>
  </div>

  <div class="bottom">
    <div class="bottom__title">代表挨拶</div>
    <div class="bottom__title__cover"></div>
    <div class="bottom__body">
      <div class="bottom__img">
        <%= image_tag "material/sagyoin.png", alt: "代表", class: "image__daihyo" %>
        <p class="bottom__name"> 代表 代表 太郎</p>
      </div>
      <div class="bottom__text">
      初めまして、名波です。みなさんの生活でなくて必要なキッチンや洗面を施工しています。宜しくお願い致します。
      </div>
    </div>
  </div>

  <div class="recruit">
    <div class="recruit__body">
      <div class="recruit__title"> 採用情報</div>
      <div class="recruit__text">
        <%= link_to "アルバイト・採用情報はこちら", "#", class: "recruit__link" %>
      </div>
    </div>
  </div>

  <footer>
    <div class="details">
      <div class="detail">
        <p class="detail__title">会社情報</p>
        <ul>
          <li class="detail__text">住所：愛知県名古屋市〇〇区</li>
          <li class="detail__text">電話番号：052-000-0000</li>
          <li class="detail__text">メール：google@gmail.com</li>
        </ul>
        <div class="detail__name">©️有限会社 〇〇工務所</div>
      </div>
    </div>
  </footer>

</section>
