
<header>
  <div class="header">
    <div class="header__nav">
      <ul>
      <li><%= link_to "名波工務所", posts_path, class: "header__name" %></li>
      <li>
        <%= form_with(url: posts_searches_path , local: true, method: :get, class: "header__from") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "header__from__text" %>
        <%= form.submit "検索", class: "header__from__btn" %>
        <% end %>
      </li>
      </ul>
      <ul class="nav">
        <%= link_to current_user.id, user_path(current_user), class: "header__right--btn" %>
        <%= link_to "新規投稿", new_post_path, class: "nav__left" %>
        <%= link_to "ログアウト",destroy_user_session_path , class: "nav__right" %>
      </ul>
    </div>
  </div>
</header>

<div class="contents">
  <div class="contents-background">
    <div class="content">
    <div class="content__title">名波工務所</div>
      <% @posts.each do |post| %>
        <div class="content__body">
          <div class="content__left">
            <div class="content__left--image">
            <%= image_tag "material/nanami.png", alt: "rogo" , class: "content__left--logo" %>
            </div>
          </div>
          <div class="content__right">
            <div class="content__right__top">
              <%= link_to post.constructionsite ,post_path(post.id) , class: "content__right__link"%>
              <%= post.writer %>
            </div>
            <div class="content__right__bottom">
              
              <div class="content__right__bottom--date">
              <%= post.created_at %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class=content__footer>
        <%= paginate(@posts) %>
      </div>
    </div>
  </div>
</div>
