
<!DOCTYPE html>
<html>

  <head>

    <title>〇〇工務所</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<body>

  <div class="header">
    <div class="header__name">
      <ul class="header__name__ul">
        <li class="header__name__li">〇〇工務所</li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="header__name__form">
        <ul class="header__name__form__nav">
          <li><%= form_with(url: posts_searches_path , local: true, method: :get, class: "#") do |form| %></li>
          <li><%= form.text_field :keyword, placeholder: "現場名で検索", class: "header__name__form__text" %></li>
          <li><%= form.submit "検索", class: "header__name__form__btn" %></li>
          <% end %>
        </ul>
      </div>
      <div class="header__name__nav">
        <ul class="header__name__navList">
          <li><%= link_to current_user.name, user_path(current_user), class: "header__right--btn" %></li>
          <li><%= link_to "新規投稿",new_post_path , class: "nav__left" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, class: "nav__right" %></li>
        </ul>
    <% else %>
      <ul class="header__name__navList">
        <li><%= link_to "ログイン", new_user_session_path, class: "nav__left" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "nav__right" %></li>
      </ul>
    <% end %>
      </div>
  </div>
    <%= yield %>

</body>

</html>
